{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    {% block styles %}
      {{super()}}
      <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% endblock %}
</head>

<body>
    {% block navbar %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/mystic-depth">Mystic Depth</a></li>
        <li role="presentation"><a href="/home">Well Detail</a></li>
        <li role="presentation"><a href="/models-predictions">Dash Plot</a></li>
      </ul>
    {% endblock %}

    {% block content %}
    <div class="jumbotron">
        <h1>Welcome to Mystic-bit</h1>
        <p>PETEX HACKATHON - Nov 2018</p>
        <p><a class="btn btn-primary btn-lg" href="/models-predictions" role="button">Get Started</a></p>
      </div>
    <img src={{ url }} alt="Chart" height="400" width="400"/>
    <p>Map showing wells locations</p>
    {% endblock %}



</body>
</html>