{% extends "bootstrap/base.html" %}

{% block content %}
<form class="form-inline" method="POST" action="{{ url_for('test') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">Please select</span>
              <select name="comp_select" class="selectpicker form-control">
                {% for o in data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
              </select>
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
  </form>
  {% endblock %}